@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-transition {
  transition: height 0.5s ease, width 1s ease 0.5s;
}
.custom-gradient {
  background: linear-gradient(to right, #000 50%, #fff) bottom,
    linear-gradient(to right, #fff 50%, #000 50%) top;
}
.parent > *:nth-child(odd) {
  margin-left: auto;
}
.parent > *:nth-child(even) {
  margin-left: 0;
}
.l {
  left: cal(10rem + 15vw);
}
.invert-img{
  filter: invert(100%);
}
@layer base{

  h1,h2,h3{
    font-family: 'Lora', serif;
  }
p{
  font-family: 'Ubuntu', sans-serif;
}
a{
  font-family: 'Metal Mania', cursive;
  letter-spacing: 0.1rem;
}
}
